<div class="main-container">
    <div class="main-header">
      <img class="main-header-logo" src="/img/unternehmenslogos/<%= unternehmen.company_data.ticker %>.svg" alt="Company Logo"  >
      <div class="main-header-name-and-isin">
          <span class="main-header-name-and-isin-name"> 
           <!--<%= unternehmen.company_data.id %> --> Apple Inc.
        </span>
        <span class="main-header-name-and-isin-isin">
          ISIN: US0378331005 
        </span>
      </div>
      
      <%- include ('_aktienKursGraph.ejs') %>

      <div class="main-header-graph">
      <div id="aktienKursGraph"></div>        
      </div>


      <div class="main-header-aktienkurs-box">
        <span class="main-header-aktienkurs-box-kurs" style="color:<%= calculated.calculated_data.colorForChange %>">
          <%= calculated.calculated_data.changePercent %> %
        </span>
        <span class="main-header-aktienkurs-box-kurs2"> 
          <%= calculated.calculated_data.aktienKurs %> $
        </span>
        <span class="main-header-aktienkurs-box-kurs-vortag">
         Marketcap
        </span>
        <span class="main-header-aktienkurs-box-kurs-vortag2">
          <!--<%= calculated.calculated_data.marketCap %> $ -->
          2.1 Mrd $
        </span>
    </div>

          

     </div>

<script>myObj = <%- JSON.stringify(unternehmen) %>;</script>






     
     <div class="main">
          <div class="calculated_data">
            <div class="app-card">
                 <table>
                  <tr>
                    <th>Valuation</th>
                  </tr>
                  <tr>
                    <td>KGV</td>
                    <td><%= calculated.calculated_data.kgv %></td>
                  </tr>
                  <tr>
                    <td>KUV</td>
                    <td><%= calculated.calculated_data.kuv %></td>
                  </tr>
                  <tr>
                    <td>PEG</td>
                    <td><%= calculated.calculated_data.peg_ratio %></td>
                  </tr>
                  <tr>
                    <td>PSG</td>
                    <td><%= calculated.calculated_data.psg_ratio %></td>
                  </tr>
                 </table>
            </div>

            <div class="app-card">
              <table>
               <tr>
                 <th>Dividenden</th>
               </tr>
               <tr>
                 <td>in %</td>
                 <td><%= calculated.calculated_data.dividend_yield %> %</td>
               </tr>
               <tr>
                 <td>in $</td>
                 <td><%= unternehmen.dividend_per_share.year_2021.FY %> $</td>
               </tr>
               <tr>
                 <td>Payout</td>
                 <td><%= calculated.calculated_data.payout_ratio %> %</td>
               </tr>
               <tr>
                 <td>5Y Growth</td>
                 <td><%= calculated.calculated_data.five_year_dps_growth %> %</td>
               </tr>
              </table>
         </div>

         <%- include ('_radialbarchart.ejs') %>
         <div id="radialbarchart"></div>
         
          </div>

<%- include ('_sparkbox.ejs') %>
          <div class="row-sparkboxes">
            <div class="col-md-3">
              <div class="box box1">
                <div class="details">
                  <h2>1213</h2>
                  <h4>Umsatz</h4>
                </div>
                <div id="spark1"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box2">
                <div class="details">
                  <h2>422</h2>
                  <h4>VIEWS</h4>
                </div>
                <div id="spark2"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box3">
                <div class="details">
                  <h2>311</h2>
                  <h4>LEADS</h4>
                </div>
                <div id="spark3"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box4">
                <div class="details">
                  <h2>22</h2>
                  <h4>SALES</h4>
                </div>
                <div id="spark4"></div>
              </div>
            </div>
          </div>

          <%- include ('_liniendiagram.ejs') %>

          <span class="main-financials-headline">Financials</span>

          <div id="areachart"></div>
