<div class="main-container">
    <div class="main-header">
        <img src="/img/unternehmenslogos/<%= unternehmen.company_data.ticker %>.svg" alt="Company Logo" width="52" height="52">
             <h1> 
            <%= unternehmen.company_data.ticker %>
        </h1>
     </div>

<script>myObj = <%- JSON.stringify(unternehmen) %>;</script>


     <%- include ('_liniendiagram.ejs') %>


     <%- include ('_sparkbox.ejs') %>
     <div class="main">
          <div class="row-sparkboxes">
            <div class="col-md-3">
              <div class="box box1">
                <div class="details">
                  <h2>1213</h2>
                  <h4>Wixer</h4>
                </div>
                <div id="spark1"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box2">
                <div class="details">
                  <h2>422</h2>
                  <h4>VIEWS</h4>
                </div>
                <div id="spark2"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box3">
                <div class="details">
                  <h2>311</h2>
                  <h4>LEADS</h4>
                </div>
                <div id="spark3"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box4">
                <div class="details">
                  <h2>22</h2>
                  <h4>SALES</h4>
                </div>
                <div id="spark4"></div>
              </div>
            </div>
          </div>
          <div id="areachart"></div>
